@using Office_Website.Models.Class
@{
    Admin admin = Session["Kullanici"] as Admin;
}
@model List<Blog>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Blog Yazılarımız
                </h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table id="blogTable" class="table table-bordered">
                        <thead>
                            <tr>
                                @if (admin.IsManager)
                                {

                                    <th>Blog ID</th>
                                    <th>Blog Resmi</th>
                                    <th>Blog Başlığı</th>
                                    <th>Blog Konusu</th>
                                    <th>Blog Yazarı</th>
                                    <th>Yazıldığı Tarih</th>
                                    <th>Güncellenme Tarihi</th>
                                    <th>İşlemler</th>
                                }
                                else
                                {
                                    <th>Blog ID</th>
                                    <th>Blog Resmi</th>
                                    <th>Blog Başlığı</th>
                                    <th>Blog Konusu</th>
                                    <th>Yazıldığı Tarih</th>
                                    <th>Güncellenme Tarihi</th>
                                    <th>İşlemler</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in Model)
                            {
                            <tr>
                                @if (admin.IsManager)
                                {
                                    <th>@x.Id</th>
                                    <th>@x.BlogResmi</th>
                                    <th>@Html.Raw(x.Baslik)</th>
                                    <th>@x.Konu.KonuAD</th>
                                    <th>@x.Admin.UserName</th>
                                    <th>@x.CreatedAt</th>
                                    <th>@x.UpdadedAt</th>
                                    <th>
                                        <span class="btn bg-cyan waves-effect"><a href="/Blog/Blogdetail/@x.Id" title="Detayı Gör"> <i class="material-icons"> folder</i></a> </span>
                                        <a class="btn bg-purple waves-effect" href="/Admin/GetBlog/@x.Id" title="Güncelle">  <i class="material-icons">update</i></a>
                                        <a class="btn bg-red waves-effect" data-target="#deleteBlog" title="Sil" onclick="JavaSend(@x.Id)"> <i class="material-icons">delete</i></a>
                                        <script>
                                            function JavaSend(id) {
                                                var link = "/Admin/deleteBlog/" + id;
                                                $("#modalLink").attr("href", link);
                                                $("#deleteBlog").modal();
                                            }
                                        </script>
                                    </th>
                                }
                                else
                                {
                                    <th>@x.Id</th>
                                    <th>@x.BlogResmi></th>
                                    <th>@Html.Raw(x.Baslik)</th>
                                    <th>@x.Konu.KonuAD</th>
                                    <th>@x.CreatedAt</th>
                                    <th>
                                        <span class="btn bg-cyan waves-effect"><a href="/Blog/Blogdetail/@x.Id" title="Detayı Gör"> <i class="material-icons"> folder</i></a> </span>
                                        <a class="btn bg-purple waves-effect" href="/Admin/GetBlog/@x.Id" title="Güncelle">  <i class="material-icons">update</i></a>
                                        <a class="btn bg-red waves-effect" data-target="#deleteBlog" title="Sil" onclick="JavaSend(@x.Id)"> <i class="material-icons">delete</i></a>
                                        <script>
                                            function JavaSend(id) {
                                                var link = "/Admin/deleteBlog/" + id;
                                                $("#modalLink").attr("href", link);
                                                $("#deleteBlog").modal();
                                            }
                                        </script>
                                    </th>
                                }
                            </tr>

                            }

                        </tbody>
                    </table>
                    <a class="btn bg-light-blue waves-effect" href="/Admin/NewBlog/@admin.Id"><i class="material-icons" style="text-align:right">assignment</i>Yeni Blog</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="~/Content/DataTables/css/bootstrap.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
<div class="modal fade" id="deleteBlog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="top: 50px;">
            <div class="modal-header modal-header-success" style="background-color: #d9534f;color: white !important;text-align: center;
        font-size: 30px;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3><i class="glyphicon glyphicon-alert"></i> Kayıt Silme Onayı</h3>
            </div>
            <div class="modal-body">
                <h4>Kayıt silinicektir, Kaydı silmek istediğinize emin misiniz?</h4>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger pull-right" id="modalLink"><i class="material-icons">delete</i> Sil</a>
                <button type="button" style="margin-right:10px;" class="btn btn-primary pull-right" data-dismiss="modal"><i class="material-icons"> power_settings_new</i>Kapat</button>
            </div>
        </div>
    </div>
</div>
    <script>
        $('#blogTable').dataTable({});
    </script>